@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/bg-video";
@import "components/button";
@import "components/card";
@import "components/composition";
@import "components/feature-box";
@import "components/form";

@import "layout/grid";
@import "layout/header";
@import "layout/navigation";

@import "pages/careers";
@import "pages/home";
@import "pages/releases";






/*

  #img-baller-reese  {

    border-style: solid;

  }

  .card-body  {

    text-align: left;
    background-color: black;
    padding-left: 3rem;
    color: white;


  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #D9534F;
    border-width: .5rem;
    width: 7%
  }

  h1 {
    color: #66BFBF;
  }

  h3 {
    color: #3f3351;
  }

  #h3-associated-artists  {

   padding-left:  20.3rem;
    display: inline;

  }
 

  #h4-tyrice-quote  {

    padding-left: 10.2rem;

  }

  .circular {
    border-radius: 100%;
  }

  #footer-p  {

        color: black;
        background-image: 
        url(flyingmoneybackground.png);
        font-weight: 400;


  }

  .p-associated-artists  {
   
    display: inline;
    padding-left:  20.3rem;
    text-align: right;
   
  }

  #p-tyrice-quote  {

    padding-left: 2rem;

  }

  #profile-img-div {

        padding-left: 40rem;
  }

  #vertical-buttons  {

    width: 10rem;
    border: 2rem;
    padding-right: 5rem;


  }

  .next-artist  {

    text-align: right;
    text-decoration: underline;
    padding-left: 30rem;
  }*/