.card  {

    //Functionality
        perspective: 150rem;
        -moz-perspective: 150rem;
        position: relative;
        height: 30rem;


        &_side  {
            color: $color-primary-dark;
            text-decoration: underline;
            font-size: 2rem;
            

            height: 50rem;
            transition: all .8s ease; 
            position: absolute; 
            top: 0;
            left: 0;
            width: 100%;
            backface-visibility: hidden;
            border-radius: 2px;
            box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

            &-front  {
                background-color: $color-gray-light;
            }      
              
                  
        

            &-bacc  {
                
                transform: rotateY(180deg);

                    &-1  {
                        background-image: linear-gradient(
                            to right bottom,
                         rgba($color-primary-light, 0.0),
                         rgba($color-primary-dark, 0.0)),
                          url(../img/LIVE_FROM_LED_VOL2.jpg);
                          background-size: cover;

                    }

                    &-2  {

                        background-image: linear-gradient(
                            to right bottom,
                         rgba($color-primary-light, 0.0),
                         rgba($color-primary-dark, 0.0)),
                          url(../img/Born_Stiff_Die_Stiff.jpg);

                    }

                    &-3  {
                        background-image: linear-gradient(
                            to right bottom,
                            rgba($color-primary-light, 0.0),
                            rgba($color-primary-dark, 0.0)),
                            url(../img/FA_SHYT_SHO.jpg);
                    }

                    &-4  {

                    }

                    &-5  {

                    }
                }
            }
        


    &:hover &_side-front {
        transform: rotateY(-180deg);
        
    }

    &:hover &_side-bacc {
        transform: rotateY(0);
    }

    //Front side style
    &_picture  {
        background-size: cover;
        height: 30rem;

        &-1 {
             background-image: linear-gradient(
             to right bottom,
             rgba($color-primary-light, 0.0),
             rgba($color-primary-dark, 0.0)),
             url(../img/Ace_of_spades.jpg);
             
        }

        &-2 {
            background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.0),
            rgba($color-primary-dark, 0.0)),
            url(../img/King_of_spades.jpg);
            background-size: cover;  
       }

       &-3 {
            background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.0),
            rgba($color-primary-dark, 0.0)),
            url(../img/Joker_.jpg);
            background-size: cover;  
        }

        &-4 {
            background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.0),
            rgba($color-primary-dark, 0.0)),
            url(../img/Jack_spade.jpg);
            background-size: cover;  
        }


        &-5  {
            background-image: linear-gradient(
            to right bottom,
            rgba($color-gold-dark, 0.6),
            rgba($color-black, .9)),
            url(../img/Ten_of_spades.jpg);
            background-size: cover;  
        }
    }
}